body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

body h1 {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.produto:hover {
    background-color: #f0f0f0;
    scale: 1.02;
}
